$font: 'Barlow Semi Condensed', sans-serif;

$violet: hsl(263, 55%, 52%);
$blue1: hsl(217, 19%, 35%);
$blue2: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

$light_gray: hsl(0, 0%, 81%);
$light_blue: hsl(210, 46%, 95%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} // reset

.main-container {
    font-family: $font;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 13px;
    background-color: $light_blue;
    color: $white;

    .left-panel {
        display: flex;
        flex-wrap: wrap;
        max-width: 825px;

        .item {
            flex: 1 1 255px;
            padding: 25px 35px 30px 30px;
            border-radius: 10px;

            .user {
                display: flex;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 100px;
                } // img

                &-info {
                    display: flex;
                    flex-direction: column;
                    padding: 0 0 0 15px;
                    box-sizing: border-box;

                    span {

                        &:nth-child(2) {
                            color: rgba($white, .5);
                        } // span:nth-child(2)
                    } // span
                } // .user-info
            } // .user

            h2 {
                padding: 17px 0;
                color: $white;
            } // h2

            p {
                line-height: 18px;
                color: rgba($white, .7);
            } // p

            &:nth-child(1), 
            &:nth-child(4) {
                flex: 1 1 540px;
            } // .item:nth-child(1), .item:nth-child(4)

            &:nth-child(1) {
                margin: 0 30px 25px 0;
                background-color: $violet;

                img {
                    border: solid 2px rgba($white, .5);
                } // img
            } // .item:nth-child(1)

            &:nth-child(2) {
                margin: 0 0 25px 0;
                background-color: $blue1;
            } // .item:nth-child(1)

            &:nth-child(3) {
                background-color: $white;
                color: $blue1;

                span {

                    &:nth-child(2) {
                        color: rgba($blue1, .5);
                    }
                } // span

                h2 {
                    color: $blue1;
                } // h2
                
                p {
                    color: rgba($blue1, .7);
                } // p
            } // .item:nth-child(1)

            &:nth-child(4) {
                margin: 0 0 0 30px;
                background-color: $blue2;

                img {
                    border: solid 2px rgba($violet, .8);
                } // img
            } // .item:nth-child(1)

        } // .item
    } // .left-panel

    .right-panel {
        width: 255px;
        margin: 0 0 0 30px;

        .item {
            flex: 1 1 255px;
            padding: 25px 35px 30px 30px;
            border-radius: 10px;
            background-color: $white;
            color: $blue1;

            .user {
                display: flex;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 100px;
                } // img

                &-info {
                    display: flex;
                    flex-direction: column;
                    padding: 0 0 0 15px;
                    box-sizing: border-box;

                    span {

                        &:nth-child(2) {
                            color: rgba($blue1, .5);
                        } // span:nth-child(2)
                    } // span
                } // .user-info
            } // .user

            h2 {
                padding: 17px 0;
            } // h2

            p {
                line-height: 18px;
                color: rgba($blue1, .7);
            } // p
        } // .item
    } // .right-panel
} // .main-container